@model GasStation.Models.Distributor



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edycja dystrybutora</title>
</head>
<body>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DistributorId" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsLocked" /> @Html.DisplayName("Czy zablokowany?")
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Counter" class="control-label">Licznik</label>
                <input asp-for="Counter" class="form-control" readonly/>
                <span asp-validation-for="Counter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy dystrybutorów</a>
</div>

</body>
</html>
